<!DOCTYPE HTML>
<html>
<head>
<link rel="shortcut icon" href="images/favicon/favicon-72.png">
<title>TRIVI/O</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500|Product+Sans:400,500&lang=en" rel="stylesheet">
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/font-awesome.min.css" />
<link rel="stylesheet" href="css/main.css" />
<link href="css/jquery.bxslider.min.css" rel="stylesheet" />
</head>
<body>
<div class="header"> <a class="logo" href="./"><img src="images/logo.svg" alt="TRIVI/O 2017" /></a>
  <nav id="nav">
    <ul id="navLinks">
      <li class="active"><a href="/">Stats</a></li>
      <li><a href="/game">Play</a></li>
      {{loggedNav}}
    </ul>
  </nav>
</div>
<div id="main">
{{{body}}}
</div>
<footer>
  <div class="footer-inner">
    <div class="footer-row">
      <nav class="footer-nav">
        <div class="footer-nav-item"> <a href="/faq">FAQ</a> </div>
        <div class="footer-nav-item"> <a href="https://plus.google.com/u/0/communities/105113874753230740413" target="_blank" rel="noopener noreferrer">I/O Community</a> </div>
        <div class="footer-nav-item"> <a href="https://developers.google.com/" target="_blank" rel="noopener noreferrer">Google Developers</a> </div>
        <div class="footer-nav-item"> <a href="https://www.google.com/policies/terms/" target="_blank" rel="noopener noreferrer">Privacy & Terms</a> </div>
      </nav>
      <nav class="footer-social"> <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/Google-Developers-967415219957038/" class="social"><span class="fa fa-facebook"></span></a> <a target="_blank" rel="noopener noreferrer" href="https://plus.google.com/+GoogleDevelopers" class="social"><span class="fa fa-google-plus"></span></a> <a target="_blank" rel="noopener noreferrer" class="social"><span class="fa fa-twitter"></span></a> <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/user/GoogleDevelopers" class="social"><span class="fa fa-youtube-play"></span></a> </nav>
    </div>
  </div>
</footer>
</body>
</html>