<section id="content" class="wrapper-alt">
  <header><h2 class="align-center">FAQ</h2></header>
    <div class="row uniform">
      <div class="12u$">
      <section id="general">
      <h3 class="special"><span class="fa fa-bookmark"></span>&nbsp;General</h3>
      <h4 class="special">What is the purpose of TRIVI/O?</h4>
      <p>We intend for this to be a fun, interactive way to participate in Google I/O Extended, test your skills and knowledge, and get a glimpse of how other I/O Extended participants around the world are faring in the game. Mostly, we hope you have fun! </p>
      <h4 class="special">Who developed the game? </h4>
      <p>The team behind the game consists of two Google Software Engineers from Seattle and Pittsburgh, as well as Program Managers and Designers from New York City and San Francisco. </p>
      <h4 class="special">Who will my information be shared with? </h4>
      <p>If you login with your Google Account and don't select the opt out option, your username and score will be displayed on the leaderboard and shared with other players. TRIVI/O stores your first name, last name, and email address from your Google login and the location you select as your competition city. Only your username (a truncation of your email) is shared publicly. You may opt-out of showing your username through an option on the Profile page or when you play your first game. All other information is only visible to TRIVI/O coordinators for the purpose of selecting the winners. </p>
      </section>
      <section id="competing">
      <h3 class="special"><span class="fa fa-bookmark"></span>&nbsp;Competing</h3>
      <h4 class="special">How do I login to play?</h4>
      <p>Clicking on the login tab or the game tab while not logged in will automatically redirect you to a login page. </p>
      <h4 class="special">Can I access the game without a Google account? </h4>
      <p>No. You must have a Google account in order to play. </p>
      <h4 class="special">Who is eligible to compete? </h4>
      <p>Anyone with access to triviao.com can participate. The game is void where prohibited by law. </p>
      <h4 class="special">How do I access the game? </h4>
      <p>Simply navigate with your favorite web browser to triviaio.com, and log in with a google account. Then, click on the game tab in the upper right corner of the screen. </p>
      <h4 class="special">How long will the game be available? </h4>
      <p>The game will open on May 17 and remain open indefinitely. Please note that prize distribution will only take place for those playing at Google offices on May 17. </p>
      <h4 class="special">What types of questions will be asked? </h4>
      <p>There will be a range of questions testing your knowledge across tech topics. There are two tracks: one intended for programming knowledge and one that tests broader tech trivia. </p>
      <h4 class="special">Do I have to show my information on the leaderboard? </h4>
      <p>No, you have the option to opt-out of having your name displayed. Instead your score with the label of 'anonymous' is shown. The opt-out appears in the first screen of your first game or may be changed from your Profile. </p>
      <h4 class="special">How much time do I have to compete? </h4>
      <p>You can spend as much time as you want playing the game. Any rounds played after in-person prize distribution are ineligible for winning prizes. </p>
      <h4 class="special">How many times can I play? </h4>
      <p>You can play as many times as you wish, but only the first submitted score will be considered for prizes. </p>
      <h4 class="special">Which devices can I use to compete? </h4>
      <p>You may use a mobile phone, tablet, laptop or desktop computer. </p>
      <h4 class="special">How does the game work? </h4>
      <p>Upon choosing your preferred trivia categories, you have two minutes to answer as many questions correctly as possible. Answering correctly will increase your score, while answering incorrectly will incur a ten second time penalty. Upon game end, your score will be tallied and you'll be given the opportunity to submit. </p>
      <h4 class="special">How does selecting trivia categories work? </h4>
      <p>Before starting a game, you'll be given the option to select any or all of the eight categories. You may mix and match between the programming and general categories, and you may choose more than four categories should you wish.</p>
      <h4 class="special"> What if I want a new game with different categories? </h4>
      <p>You select your desired set of categories at the start of each game. If you wish to try different categories at that point, you are completely free to do so. </p>
      <h4 class="special">How are scores calculated? </h4>
      <p>Points are gained for answering questions correctly. More difficult questions are worth more points, and having a streak of correctly answered questions will provide a bonus to your score. In addition, choosing more than four categories will provide a bonus to your score. Each question is worth (10 + current_streak)*question_difficulty points, where current_streak is the number of questions you've answered correctly in a row, and question_difficulty is on a one to five scale. </p>
      <h4 class="special">How is question difficulty calculated? </h4>
      <p>At game start, questions will be asked from the easiest difficulty. For every five correctly answered questions, the difficulty will increase, capping out after twenty correct answers. </p>
      <h4 class="special">How does submitting my score work? </h4>
      <p>On game end, there will be a large button labeled "Submit Score." Press it to submit. Please keep in mind that only the first submitted score will be considered for prizes. </p>
      </section>
      <section id="prizes">
      <h3 class="special"><span class="fa fa-bookmark"></span>&nbsp;Prizes</h3>
      <h4 class="special">What prizes will be distributed on May 17, 2017?</h4>
      <p>Two (2) winners at each Google hosted event will win a brand new Google Home or another prize designated by Google.</p>
      <h4 class="special">When is prize distribution?</h4>
      <p>Prizes will only be distributed to those attending Google I/O Extended events at Google offices in Austin, Boulder, Cambridge, Los Angeles, New York City, Pittsburgh, Seattle, Waterloo, San Francisco and Zurich on May 17 or 18, 2017.  Prize distribution information will be announced at Google hosted events.</p>
      <h4 class="special">How do I claim my prize?</h4>
      <p>You must be in attendance of a Google I/O Extended event at a Google office on May 17 or 18, 2017, and must be present at the time of the "announcement of winners" to receive your prize. Failing to claim your prize in-person will result in the event manager selecting the next eligible winner. Restrictions may apply. If you are a government official, you may only compete in the game in your personal capacity and may be ineligible to receive certain prizes. "Government officials" include any government employee; candidate for public office; and employee of government-owned or government-controlled companies, public international organizations, and political parties.</p>
      </section>
      </div>
    </div>
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script> 
<script src="src/util.js"></script> 
<script src="src/main.js"></script>