<section id="players">
    <div class="row uniform">
      <div class="12u$">
        <div id="map"></div>
      </div>
    </div>
  </section>
  <!-- Section for top tier stats -->
  <section id="content" class="wrapper">
    <div class="row uniform">
      <div class="4u 12u$(medium)">
        <header>
          <h4 class="align-center">Global Top Players</h4>
        </header>
        <div class="table-wrapper stats">
          <table class="alt" id="topPlayers">
          </table>
        </div>
      </div>
      <div class="4u 12u$(medium)">
        <header>
          <h4 class="align-center">Top Players by City</h4>
        </header>
        <ul id="cities">
        </ul>
      </div>
      <div class="4u 12u$(medium)">
        <header>
          <h4 class="align-center">Toughest Categories</h4>
        </header>
        <div class="table-wrapper stats">
          <table class="alt" id="categories">
          </table>
        </div>
      </div>
    </div>
  </section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script> 
<script src="src/util.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.8/datamaps.world.min.js"></script> 
<script src="src/main.js"></script>
<script src="src/index.js"></script> 